BASE_REPO=10.60.129.132:8890/cmp

KEYCLOAK_DB_HOST=10.208.188.10
KEYCLOAK_DB_PORT=5432
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYClOAK_DB_PASSWORD=password

KEYCLOAK_HOSTNAME=iam-vcloud.viettel.vn
KEYCLOAK_VERSION=19.0-1
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=password
KEYCLOAK_PORT=8081

KEYCLOAK_ISPN_EXTERNAL_IP=10.208.198.22

GA_ENABLE=disable
GA_API_KEY=
GA_AUTH_DOMAIN=
GA_PROJECT_ID=
GA_STORAGE_BUCKET=
GA_MESSAGING_SENDER_ID=
GA_APP_ID=
GA_MEASUREMENT_ID=

KAFKA_TOPIC=keycloak-events
KAFKA_CLIENT_ID=keycloak
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_EVENTS=REGISTER,UPDATE_PROFILE
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_ADMIN_TOPIC=""

QUARKUS_HTTP_ACCESS_LOG_ENABLED=true
QUARKUS_HTTP_RECORD_REQUEST_START_TIME=true
QUARKUS_HTTP_ACCESS_LOG_EXCLUDE_PATTERN='/resources/.*'
QUARKUS_HTTP_ACCESS_LOG_PATTERN='%h %l %u %t "%r" %s %b %D "%{i,Referer}" "%{i,User-Agent}" "%{i,X-FORWARDED-FOR} %{i,X-REAL-IP}"'