KEYCLOAK_VERSION=19.0.3
EVENT_LISTENER_VERSION=0.1.0
KC_HOSTNAME=sso.vcloud.viettel.vn

KAFKA_TOPIC=keycloak-events
KAFKA_CLIENT_ID=keycloak
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_EVENTS=REGISTER,UPDATE_PROFILE
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_ADMIN_TOPIC=""

QUARKUS_HTTP_ACCESS_LOG_ENABLED=true
QUARKUS_HTTP_RECORD_REQUEST_START_TIME=true
QUARKUS_HTTP_ACCESS_LOG_EXCLUDE_PATTERN='/resources/.*'
QUARKUS_HTTP_ACCESS_LOG_PATTERN='%h %l %u %t "%r" %s %b %D "%{i,Referer}" "%{i,User-Agent}" "%{i,X-FORWARDED-FOR} %{i,X-REAL-IP}"'